---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openjournals/joss-reviews/issues/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1463184304'
      Etag:
      - W/"cf7856bd3095fcc0eab4ec74d7968540"
      Last-Modified:
      - Thu, 12 May 2016 12:36:22 GMT
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openjournals/joss-reviews/issues/17","repository_url":"https://api.github.com/repos/openjournals/joss-reviews","labels_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/17/labels{/name}","comments_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/17/comments","events_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/17/events","html_url":"https://github.com/openjournals/joss-reviews/issues/17","id":154275840,"number":17,"title":"Submission:
        Application Skeleton: Generating Synthetic Applications for Infrastructure
        Research","user":{"login":"whedon","id":18508068,"avatar_url":"https://avatars.githubusercontent.com/u/18508068?v=3","gravatar_id":"","url":"https://api.github.com/users/whedon","html_url":"https://github.com/whedon","followers_url":"https://api.github.com/users/whedon/followers","following_url":"https://api.github.com/users/whedon/following{/other_user}","gists_url":"https://api.github.com/users/whedon/gists{/gist_id}","starred_url":"https://api.github.com/users/whedon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whedon/subscriptions","organizations_url":"https://api.github.com/users/whedon/orgs","repos_url":"https://api.github.com/users/whedon/repos","events_url":"https://api.github.com/users/whedon/events{/privacy}","received_events_url":"https://api.github.com/users/whedon/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/openjournals/joss-reviews/labels/accepted","name":"accepted","color":"159818"},{"url":"https://api.github.com/repos/openjournals/joss-reviews/labels/review","name":"review","color":"fbca04"}],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":24,"created_at":"2016-05-11T15:42:11Z","updated_at":"2016-05-12T12:36:22Z","closed_at":"2016-05-12T03:15:55Z","pull_request":{"url":null,"html_url":null,"diff_url":null,"patch_url":null},"body":"**Submitting
        author:** @zhaozhang (<a href=\"http://orcid.org/0000-0001-5921-0035\">Zhao
        Zhang</a>)\r\n**Repository:** <a href=\"https://github.com/applicationskeleton/Skeleton\"
        target =\"_blank\">https://github.com/applicationskeleton/Skeleton</a>\r\n**Version:**
        v1.2\r\n**Editor:** @arfon\r\n**Reviewers:** @jim, @bob\r\n**Archive:** <a href=\"http://dx.doi.org/10.5281/zenodo.13750\" target
        =\"_blank\">http://dx.doi.org/10.5281/zenodo.13750</a>\r\n\r\n## Status\r\n\r\n[![status](ht[...]
[...]
