---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openjournals/joss-reviews/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1463184304'
      Etag:
      - W/"79a7e069c386ef28d985c99982628e2c"
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/openjournals/joss-reviews/issues/19","repository_url":"https://api.github.com/repos/openjournals/joss-reviews","labels_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/19/labels{/name}","comments_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/19/comments","events_url":"https://api.github.com/repos/openjournals/joss-reviews/issues/19/events","html_url":"https://github.com/openjournals/joss-reviews/issues/19","id":154513135,"number":19,"title":"Submission:
        riskscorer - automating risk calculation in clinical practice and research","user":{"login":"whedon","id":18508068,"avatar_url":"https://avatars.githubusercontent.com/u/18508068?v=3","gravatar_id":"","url":"https://api.github.com/users/whedon","html_url":"https://github.com/whedon","followers_url":"https://api.github.com/users/whedon/followers","following_url":"https://api.github.com/users/whedon/following{/other_user}","gists_url":"https://api.github.com/users/whedon/gists{/gist_id}","starred_url":"https://api.github.com/users/whedon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whedon/subscriptions","organizations_url":"https://api.github.com/users/whedon/orgs","repos_url":"https://api.github.com/users/whedon/repos","events_url":"https://api.github.com/users/whedon/events{/privacy}","received_events_url":"https://api.github.com/users/whedon/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/openjournals/joss-reviews/labels/review","name":"review","color":"fbca04"}],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":4,"created_at":"2016-05-12T15:33:08Z","updated_at":"2016-05-13T22:53:14Z","closed_at":null,"pull_request":{"url":null,"html_url":null,"diff_url":null,"patch_url":null},"body":"**Submitting
        author:** @meyera (<a href=\"http://orcid.org/0000-0002-6944-2478\">Alexander
        Meyer</a>)\r\n**Repository:** <a href=\"https://github.com/meyera/riskscorer\"
        target =\"_blank\">https://github.com/meyera/riskscorer</a>\r\n**Version:**
        v0.2.0\r\n**Archive:** <a href=\"http://dx.doi.org/10.5281/zenodo.51342\"
        target =\"_blank\">http://dx.doi.org/10.5281/zenodo.51342</a>\r\n\r\n## Status\r\n\r\n[![status](http://joss.theoj.org/papers/b6fca2486948af8ebd56fc31fc7277c3/status.sv[...]
